#List {
  display: flex;
  flex-wrap: wrap;
}

#List > div {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

h1 {
  font-size: 24px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

p {
  margin: 5px 0;
}

.gesammtbewertung {
  font-weight: bold;
}

.aufwandZeit {
  font-style: italic;
}

.aufwandSchwierigkeit {
  font-style: italic;
}

.anleitung {
  font-style: italic;
}
